nav a {
    background-color: #aaaaaa;
    position: fixed;
    text-align: center;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    text-decoration: none;
    color: white;
    border: 1px solid black;  
    font-size: 15px;
    padding: 0px;
    z-index: 2;
}
nav a:hover {
    color: #da4757;
    font-weight: bold;
    background-color: #00739e;
    border: 1px solid black;
}

body {
    background-image: url(../images/d2b.jpg);
    background-color: #bac2ce;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    width: 900px;
    margin: auto;
   
}

figure {
    display: block;
    position: relative;
    width: 900px;
    margin: 50px auto;
    margin-bottom: 100px;
 }

h2 {
    
    font-size: 2em;
    text-align: center;
    margin: 150px 0px;
    }

p {
    display: inline-block;
    width: 400px;
    height: 280px;
    /*background-color: #ffffff;
    opacity: 0.5;*/
    text-align: center;
    padding: auto 0;
    margin:10px;
    vertical-align: middle;


}

.d4 p { 
    display: block;
    width: 400px;
    margin: auto;

}

@media only screen and (max-width: 600px) {
   p { display:table; }
   h2 { margin: 10px;
        text-align: left; }
   figure img { width: 300px; 
                height: 75px;}
    img {width: 300px;
        height: 225px;}
    body {background-repeat: repeat-y;}
    .d4 p {float: left;}
}
