/* body {
    text-align: right;
}
*/


/*  days:

nav style="background-color:#80bfff;padding:10px;"
<link rel="shortcut icon" href="../images/favicon.ico">

<style>
    body  {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    background-image: url('../images/d2b.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%; 
}
</style>  */ 

/* index:

    <table border="1" style="text-align:center;">
<div class="footer">


    <style>
    body {
  background-image: url(images/a1-1.jpg);
  background-size:100%;
  background-attachment: fixed;
  font-size: 15px;
 font-family: Verdana, Geneva, sans-serif;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

</style>
*/