body, html {
  background-color: #ECEFF1;
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

div.container-fluid {
  height: 100%;
}

.first, .second, .third, .fourth {
  min-height: 400px;
  /*min-width: 520px;*/
  /*max-height: 600px;*/
  text-align: center;
}

.first {
  background-color: #fff9e6;
}

.contact {
  margin-top: 15px;
  color: #d9534f;
  text-align: left;
  /*display: inline-block;*/
  height: 200px;
}

.contact p {
  margin-bottom: 10px;
  margin-left: 215px;
  /*overflow: left;*/
  min-width: 226px;
}

.first-links {
  /*width: 226px;*/
  /*overflow: auto;*/
}

.contact i {
  /*margin-left: 10px;*/
  margin-top: 4px;
  float: left;
  width: 20px;
  text-align: center;
}

.contact span {
  margin-left: 10px;
  /*overflow: left;*/
}

.c-black {
  color: black;
}

.linkedin {
  color: #0084bf;
  /*background-color: white;*/
}

.fa-download {
  color: green;
}

.web {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 3em;
  text-align: left;

}

.avatar img {
  height: 200px;
  width: 200px;
  float: left;
  background-color: #d9534f;
  border: 1px solid black;
  border-radius: 5px;
  clear: right;
}

.second {
  background-color: #5bc0de;
}

.second * {
  color: #f7eede;
}

.third {
  background-color: #FFD54F;
}

.fourth {
  background-color: rgb(42, 49, 61);
  /*overflow: auto;*/
}

.fourth img {
  background-color: #009688;

}

/********************************/

@media screen and (max-width: 760px) {
    .first, .second, .third, .fourth {
      height: 100%;
      max-height: 100%;
      min-height: 100%;
      padding: 5%;
    }
    .avatar img {
      height: 150px;
      width: 150px;
      float: none;
      background-color: #d9534f;
      border-radius: 5px;
      /*clear: right;*/
    }
}

/*.img-thumbnail {

}*/

a:link {
  color: #d9534f;
}

a:visited {
  text-decoration: none;
  color: #d9534f;
}

a:hover {
  text-decoration: none;
  /*cursor: default;*/
}

a:active {
  text-decoration: none;
}

/**********tooltips***********/

.toolti {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.toolti .tooltitext {
    visibility: hidden;
    width: 120px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.toolti .tooltitext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: grey transparent transparent transparent;
}

.toolti:hover .tooltitext {
    visibility: visible;
}

/*************************/
