body, html {
  background-color: #ECEFF1;
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

div.container-fluid {
  height: 100%;
}

.first, .second, .third, .fourth {
  min-height: 400px;
  max-height: 500px;
  text-align: center;
  vertical-align: middle;
}

@media screen and (max-width: 760px) {
    .first, .second, .third, .fourth {
      height: 100%;
      max-height: 100%;
    }
}

.first {
  background-color: #96ceb4;
}

.first p {
  color: #d9534f;
}

.second {
  background-color: #5bc0de;
}

.third {
  background-color: #FFD54F;
}

.fourth {
  background-color: #009688;
}

/*.img-thumbnail {

}*/

.toolti {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.toolti .tooltitext {
    visibility: hidden;
    width: 120px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.toolti .tooltitext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: grey transparent transparent transparent;
}

.toolti:hover .tooltitext {
    visibility: visible;
}
